[data-name="sl_no"]{
    width : 60px !important;
    }

[data-name="bool_y"]{
        width : 60px !important;
        }
[data-name="bool_n"]{
    width : 60px !important;
    }
[data-name="bool_na"]{
        width : 60px !important;
        }

[data-name="status"]{
    width : 100px !important;
    }

[data-name="remarks"]{
    width : 100px !important;
    }